Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Move to new Uppy handling in discourse/discourse
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
Due: none

Bump version
  plugin.rb
Due: rubocop

Make linters happy
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  assets/javascripts/discourse/mixins/undo-changes.js.es6
Due: none

Fix linting
  assets/javascripts/discourse/mixins/undo-changes.js.es6
Due: none

FIX: use const instead of let for observedCache
  assets/javascripts/discourse/mixins/undo-changes.js.es6
Due: none

Ensure submission users are serialized properly
  app/serializers/custom_wizard/submission_serializer.rb
  lib/custom_wizard/submission.rb
  plugin.rb
  spec/serializers/custom_wizard/submission_serializer_spec.rb
Due: rubocop

Break text field test
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

Update plugin.rb
  plugin.rb
Due: rubocop

Update mapper.rb
  lib/custom_wizard/mapper.rb
Due: rubocop

Move to standard plugin workflow
  .github/workflows/discourse-plugin.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Merge main
  plugin.rb
Due: rubocop

DEV:Bump version
  plugin.rb
Due: rubocop

Ensure each wizard has the right user
  lib/custom_wizard/submission.rb
  spec/serializers/custom_wizard/submission_serializer_spec.rb
Due: rubocop

FIX: template guest validation not working with validation conditions
  lib/custom_wizard/validators/template.rb
  plugin.rb
  spec/components/custom_wizard/template_validator_spec.rb
  spec/fixtures/condition/validation_condition.json
Due: rubocop

bump version
  plugin.rb
Due: rubocop

FIX: Display empty API content when no data is selected
  assets/javascripts/discourse/routes/admin-wizards-api-show.js.es6
Due: none

FIX: Display no data when no API is selected
  assets/javascripts/discourse/routes/admin-wizards-api-show.js.es6
Due: none

FIX: Update creation of wizard on business tier
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
Due: prettier, eslint

DEV: Update api creatipon wizard
  test/javascripts/acceptance/admin-wizards-api-test.js
Due: prettier, eslint

DEV: Add helper for wizard api
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

DEV: Use helpers for api creation
  test/javascripts/acceptance/admin-wizards-api-test.js
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

Add output text selection to category name
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
  plugin.rb
Due: rubocop

Ensure we're not interpolating an object
  lib/custom_wizard/mapper.rb
  spec/components/custom_wizard/mapper_spec.rb
Due: rubocop

Strings are Objects in ruby
  lib/custom_wizard/mapper.rb
Due: rubocop

Fix deprecations && invalid field handling
  assets/javascripts/discourse/components/custom-wizard-date-input.js.es6
  assets/javascripts/discourse/components/custom-wizard-date-time-input.js.es6
  assets/javascripts/discourse/components/custom-wizard-field-time.js.es6
  assets/javascripts/discourse/components/custom-wizard-field-upload.js.es6
  assets/javascripts/discourse/components/custom-wizard-field-user-selector.js.es6
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
  assets/javascripts/discourse/models/custom-wizard-field.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-date-input.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-category.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-checkbox.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-composer.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-group.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-number.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-tag.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-text.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-textarea.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-url.hbs
  assets/stylesheets/common/wizard/field.scss
Due: prettier-scss

Fix start step when step is added to previously used wizard
  lib/custom_wizard/submission.rb
  lib/custom_wizard/wizard.rb
  spec/components/custom_wizard/wizard_spec.rb
Due: rubocop

Prettier fixes
  assets/javascripts/discourse/components/custom-wizard-field-time.js.es6
  assets/javascripts/discourse/components/custom-wizard-field-user-selector.js.es6
Due: none

Template linting
  assets/javascripts/discourse/templates/components/custom-wizard-field-text.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-textarea.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-url.hbs
Due: none

Namespace char-counter helper
  assets/javascripts/discourse/helpers/wizard-char-counter.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-field.hbs
Due: none
