Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Update plugin.rb
  plugin.rb
Due: rubocop

Update wizard-char-counter.js.es6
  assets/javascripts/discourse/helpers/wizard-char-counter.js.es6
Due: none

FIX: autofocus is causing issues on long steps
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
Due: none

Bump version
  plugin.rb
Due: rubocop

bump version
  plugin.rb
Due: rubocop

FIX: Apply char-counter fix to composer as well
  assets/javascripts/discourse/templates/components/custom-wizard-field-composer.hbs
Due: none

Handle admin template deprecations
  assets/javascripts/discourse/components/wizard-subscription-container.js.es6
  assets/javascripts/discourse/templates/admin-wizards-api-show.hbs
  assets/javascripts/discourse/templates/admin-wizards-manager.hbs
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
  assets/javascripts/discourse/templates/components/custom-field-input.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-editor.hbs
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
  assets/javascripts/discourse/templates/components/wizard-custom-field.hbs
  assets/javascripts/discourse/templates/components/wizard-custom-step.hbs
  assets/javascripts/discourse/templates/components/wizard-mapper-selector.hbs
  assets/javascripts/discourse/templates/components/wizard-realtime-validations.hbs
Due: none

Update version
  plugin.rb
Due: rubocop

Add wizard-subscription-selector support to field type selection
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/templates/components/wizard-custom-field.hbs
  assets/javascripts/discourse/templates/components/wizard-custom-step.hbs
Due: none

FIX: ensure scrollTop on step route transition
  assets/javascripts/discourse/routes/custom-wizard-step.js.es6
Due: none

FIX: users not being added to group as part of create action
  lib/custom_wizard/action.rb
  spec/components/custom_wizard/action_spec.rb
Due: rubocop

bump patch
  plugin.rb
Due: rubocop

IMPROVE: warn in logs when at least one user in wizard did not exist
  lib/custom_wizard/action.rb
  spec/components/custom_wizard/action_spec.rb
  spec/fixtures/actions/create_group_bad_user.json
Due: rubocop

fix spelling
  spec/components/custom_wizard/action_spec.rb
Due: rubocop

addParams (public_exit&public_admission)
  app/controllers/custom_wizard/admin/wizard.rb
Due: rubocop

addParams (public_exit&public_admission)
  assets/javascripts/discourse/lib/wizard-schema.js.es6
Due: none

addParams (public_exit&public_admission)
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
Due: none

addParams (public_exit&public_admission)
  config/locales/client.en.yml
Due: i18n-lint

addParams (public_exit&public_admission)
  config/locales/client.de.yml
Due: none

addParams (public_exit&public_admission)
  lib/custom_wizard/action.rb
Due: rubocop

addParams (public_exit&public_admission)
  spec/fixtures/actions/create_group.json
Due: none

addParams (public_exit&public_admission)
  spec/fixtures/actions/create_group_bad_user.json
Due: none

addParams (primary_group)
  app/controllers/custom_wizard/admin/wizard.rb
Due: rubocop

addParams (primary_group)
  assets/javascripts/discourse/lib/wizard-schema.js.es6
Due: none

addParams (primary_group)
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
Due: none

addParams (primary_group)
  config/locales/client.de.yml
Due: none

addParams (primary_group)
  config/locales/client.en.yml
Due: i18n-lint

addParams (primary_group)
  lib/custom_wizard/action.rb
Due: rubocop

addParams (primary_group)
  spec/fixtures/actions/create_group.json
Due: none

addParams (primary_group)
  spec/fixtures/actions/create_group_bad_user.json
Due: none

Exclude "Administratoren" Group
  assets/javascripts/discourse/components/custom-wizard-group-selector.js.es6
Due: none

Exclude "Administratoren"
  assets/javascripts/discourse/components/custom-wizard-group-selector.js.es6
Due: none

Update custom-wizard-group-selector.js.es6
  assets/javascripts/discourse/components/custom-wizard-group-selector.js.es6
Due: none

DEV: Update unsubscribed acceptance test
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Update standard subscription acceptance test
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
Due: prettier, eslint
