Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Change server meta URL temporarily for test scenario
  plugin.rb
Due: rubocop

DEV: Update admin acceptance test `custom-fields`, `logs`, `submissions`
  test/javascripts/acceptance/admin-custom-fields-test.js
  test/javascripts/acceptance/admin-logs-test.js
  test/javascripts/acceptance/admin-submissions-test.js
Due: prettier, eslint

FIX: Change input value in API endpoint
  assets/javascripts/discourse/templates/admin-wizards-api-show.hbs
Due: none

Update custom-wizard-group-selector.js.es6
  assets/javascripts/discourse/components/custom-wizard-group-selector.js.es6
Due: none

Add cron schedule to Custom Wizard workflow
  .github/workflows/discourse-plugin.yml
Due: none

FIX: failing log spec
  lib/custom_wizard/log.rb
  spec/serializers/custom_wizard/log_serializer_spec.rb
Due: rubocop

bump patch
  plugin.rb
Due: rubocop

Add not equals support to mapper
  assets/javascripts/discourse/lib/wizard-mapper.js.es6
  config/locales/client.en.yml
  lib/custom_wizard/mapper.rb
  plugin.rb
  spec/components/custom_wizard/mapper_spec.rb
  spec/fixtures/mapper/inputs.json
Due: rubocop, i18n-lint

IMPORTANT: alter subscription url for arch testing
  plugin.rb
Due: rubocop

Change subscription_url back
  plugin.rb
Due: rubocop

Add support for server products PR in isolation
  lib/custom_wizard/subscription.rb
  spec/components/custom_wizard/subscription_spec.rb
  spec/fixtures/subscription_client.rb
Due: rubocop

Rubocop
  lib/custom_wizard/api/log_entry.rb
Due: rubocop

Minor tweaks to subscription loading logic
  lib/custom_wizard/subscription.rb
Due: rubocop

Fix failing rspec test
  spec/components/custom_wizard/subscription_spec.rb
  spec/fixtures/subscription_client.rb
Due: rubocop

DEV: Add admin custom fields acceptance tests
  test/javascripts/acceptance/admin-custom-fields-test.js
Due: prettier, eslint

DEV: Keep plugin.rb format
  plugin.rb
Due: rubocop

DEV: Add custom fields unsuscribed test
  test/javascripts/acceptance/admin-custom-fields-unsuscribed-test.js
Due: prettier, eslint

DEV: Add test for enabled and disabled custom field for unsuscribed plan
  test/javascripts/acceptance/admin-custom-fields-unsuscribed-test.js
Due: prettier, eslint

DEV: Test available serializer fields for each class
  test/javascripts/acceptance/admin-custom-fields-unsuscribed-test.js
Due: prettier, eslint

DEV: Add created and read custom fields tests
  test/javascripts/acceptance/admin-custom-fields-unsuscribed-test.js
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

DEV: Add update, delete acceptance tests
  test/javascripts/acceptance/admin-custom-fields-unsuscribed-test.js
Due: prettier, eslint

Update README.md
  README.md
Due: none

substitute test product ID
  lib/custom_wizard/subscription.rb
Due: rubocop

DEV: Change title for admin api testing
  test/javascripts/acceptance/admin-wizards-api-test.js
Due: prettier, eslint

DEV: Add admin submissions modal action tests
  test/javascripts/acceptance/admin-submissions-test.js
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

DEV: bump version
  plugin.rb
Due: rubocop

DEV: Add download submissions test
  test/javascripts/acceptance/admin-submissions-test.js
Due: prettier, eslint

DEV: Add admin manager destroy test
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add waiting for the default message
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add waiting for inserted element to disappear
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add waiting the icon to change to default
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Change message content condition
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add aditional second waiting to avoid global failure
  test/javascripts/acceptance/admin-custom-fields-unsuscribed-test.js
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Fix linting error
  test/javascripts/acceptance/admin-custom-fields-unsuscribed-test.js
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add testing for Step text editor
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

Bump version
  plugin.rb
Due: rubocop

Fix multiple subscriptions sort
  lib/custom_wizard/subscription.rb
  spec/components/custom_wizard/subscription_spec.rb
Due: rubocop
