Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

REVERT: Update insert-hyperlink invocation following core change
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
Due: none

bump version on stable
  plugin.rb
Due: rubocop

wip
  assets/javascripts/discourse/components/wizard-subscription-authorize.js
  assets/javascripts/discourse/templates/admin-wizards.hbs
  assets/javascripts/discourse/templates/components/wizard-subscription-authorize.hbs
  assets/stylesheets/common/admin.scss
  config/locales/client.en.yml
  plugin.rb
Due: rubocop, prettier, prettier-scss, eslint, i18n-lint

DEV: Update compatibility for main branch
  .discourse-compatibility
Due: none

DEV: Pin plugin for Discourse 3.1 stable
  .discourse-compatibility
Due: none

bump version
  plugin.rb
Due: rubocop

FEATURE: implement way to temporarily ignore redirect
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

prettier
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

bump patch
  plugin.rb
Due: rubocop

make code testable, add test
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
  test/javascripts/acceptance/wizard-test.js
Due: prettier, eslint

remove redundant assignment
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

wip
  assets/javascripts/discourse/components/wizard-subscription-authorize.js
  assets/javascripts/discourse/templates/admin-wizards.hbs
  assets/javascripts/discourse/templates/components/wizard-subscription-authorize.hbs
Due: prettier, eslint

add console log and debugging line to debug
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

more debugging
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

wip
  assets/javascripts/discourse/components/wizard-subscription-authorize.js
  plugin.rb
Due: rubocop, prettier, eslint

add this to avoid deprecation
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
  assets/javascripts/discourse/templates/components/wizard-mapper-input.hbs
Due: none

more this additions
  assets/javascripts/discourse/templates/components/wizard-mapper-input.hbs
Due: none

fix replaceWith calling style deprecation
  assets/javascripts/discourse/routes/custom-wizard-index.js.es6
  assets/javascripts/discourse/routes/custom-wizard-step.js.es6
Due: none

resolve a batch of router deprecations
  assets/javascripts/discourse/routes/admin-wizards-api-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-api.js.es6
  assets/javascripts/discourse/routes/admin-wizards-logs-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-logs.js.es6
  assets/javascripts/discourse/routes/admin-wizards-submissions-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-submissions.js.es6
  assets/javascripts/discourse/routes/admin-wizards-wizard-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-wizard.js.es6
  assets/javascripts/discourse/routes/admin-wizards.js.es6
  assets/javascripts/discourse/routes/custom-wizard-step.js.es6
Due: none

linting
  assets/javascripts/discourse/routes/admin-wizards-api-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-api.js.es6
  assets/javascripts/discourse/routes/admin-wizards-logs-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-logs.js.es6
  assets/javascripts/discourse/routes/admin-wizards-submissions-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-submissions.js.es6
  assets/javascripts/discourse/routes/admin-wizards-wizard-show.js.es6
  assets/javascripts/discourse/routes/admin-wizards-wizard.js.es6
  assets/javascripts/discourse/routes/admin-wizards.js.es6
  assets/javascripts/discourse/routes/custom-wizard-index.js.es6
  assets/javascripts/discourse/routes/custom-wizard-step.js.es6
Due: none

add router service to controllers to avoid deprecation
  assets/javascripts/discourse/controllers/admin-wizards-api-show.js.es6
  assets/javascripts/discourse/controllers/custom-wizard-step.js.es6
Due: none

linting
  assets/javascripts/discourse/controllers/admin-wizards-api-show.js.es6
  assets/javascripts/discourse/controllers/custom-wizard-step.js.es6
Due: none

linting
  assets/javascripts/discourse/controllers/custom-wizard-step.js.es6
Due: none

move modals to glimmer components
  assets/javascripts/discourse/components/modal/admin-wizards-columns.hbs
  assets/javascripts/discourse/components/modal/admin-wizards-columns.js
  assets/javascripts/discourse/components/modal/next-session-scheduled.hbs
  assets/javascripts/discourse/components/modal/next-session-scheduled.js
  assets/javascripts/discourse/controllers/admin-wizards-columns.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-submissions-show.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
  assets/javascripts/discourse/controllers/next-session-scheduled.js.es6
  assets/javascripts/discourse/templates/modal/admin-wizards-columns.hbs
  assets/javascripts/discourse/templates/modal/next-session-scheduled.hbs
Due: prettier, eslint

linting
  assets/javascripts/discourse/components/modal/admin-wizards-columns.hbs
Due: none

add missing I18n imports
  assets/javascripts/discourse/components/modal/admin-wizards-columns.js
  assets/javascripts/discourse/components/modal/next-session-scheduled.js
Due: prettier, eslint

fix erroneous route transitions
  assets/javascripts/discourse/controllers/admin-wizards-api-show.js.es6
  assets/javascripts/discourse/controllers/custom-wizard-step.js.es6
Due: none

remove debugger statement
  assets/javascripts/discourse/controllers/custom-wizard-step.js.es6
Due: none

fix test and test spelling
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

fix test
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

fix disabled behaviour of start time button
  assets/javascripts/discourse/components/modal/next-session-scheduled.hbs
Due: none

remove unintentional comment
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
Due: none

FIX: avoid page limit on downloads
  app/controllers/custom_wizard/admin/submissions.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
