Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

import bootbox
  assets/javascripts/discourse/routes/custom-wizard.js.es6
Due: none

ES Linting
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-wizards-api-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

more ES linting
  test/javascripts/acceptance/admin-wizards-api-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

simplify selector
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
Due: prettier, eslint

linting
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
Due: prettier, eslint

revert prior selector change
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
Due: prettier, eslint

revert reversion of fix
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
Due: prettier, eslint

fix failing tests
  test/javascripts/acceptance/admin-wizards-api-test.js
Due: prettier, eslint

bump patch
  plugin.rb
Due: rubocop

fix for anon
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

revert unintended changes
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

add test
  assets/javascripts/discourse/components/wizard-subscription-badge.js.es6
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  test/javascripts/acceptance/wizard-test.js
Due: prettier, eslint

linting
  assets/javascripts/discourse/components/wizard-subscription-badge.js.es6
Due: none

linting
  test/javascripts/acceptance/wizard-test.js
Due: prettier, eslint

Add back message bus subscription
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

restore original redirect file
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

restore after directive
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

move current user determination to api & remove redundant line
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

revert remove redundant line as not redundant
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

Add failing test
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

Add corresponding code to help pass test
  app/controllers/custom_wizard/admin/wizard.rb
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

improve test explanation
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

FIX: direct after start time default for new wizard
  assets/javascripts/discourse/controllers/next-session-scheduled.js.es6
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

move destroy logic into library method & transaction
  app/controllers/custom_wizard/admin/wizard.rb
  lib/custom_wizard/template.rb
Due: rubocop

linting
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

FIX: also delete Category Cust Fld for wizrds with names of mult words
  lib/custom_wizard/template.rb
Due: rubocop

fix test
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

downcase name for category cstm setting
  lib/custom_wizard/template.rb
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

remove redundant downcasing
  lib/custom_wizard/template.rb
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

stick to one method for text conversion
  lib/custom_wizard/template.rb
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

COMPATIBILITY: Update insert-hyperlink invocation following core change
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
Due: none

bump version
  plugin.rb
Due: rubocop

SECURITY: remove sensitive user content from submissions export
  app/controllers/custom_wizard/admin/submissions.rb
Due: rubocop
