Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

bump patch
  plugin.rb
Due: rubocop

DEV: Implement wizard replacement validation in Topic Creation
  config/locales/server.en.yml
  lib/custom_wizard/extensions/topic_extension.rb
  plugin.rb
Due: rubocop, i18n-lint

DEV: Add spec for validation
  spec/extensions/topic_extension_spec.rb
Due: rubocop

DEV: Implement control to hide category from composer dropdown in specified categories
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.hbs
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.js.es6
  config/locales/client.en.yml
Due: i18n-lint

DEV: Add custom_field
  plugin.rb
Due: rubocop

DEV: Add initializer logic to filter categories
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

DEV: Add acceptance tests for category filtering
  test/javascripts/acceptance/category-chooser-initializer-test.js
  test/javascripts/fixtures/categories.js.es6
Due: prettier, eslint

bump version
  plugin.rb
Due: rubocop

FIX: linting error
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.hbs
Due: none

FIX: Linting error
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.hbs
Due: none

FIX: Linting error
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

DEV: Use Discourse Events instead of topic model
  config/locales/server.en.yml
  lib/custom_wizard/extensions/topic_extension.rb
  plugin.rb
  spec/extensions/topic_extension_spec.rb
Due: rubocop, i18n-lint

FIX: linting error
  lib/custom_wizard/extensions/topic_extension.rb
Due: rubocop

DEV: Make hide category default when custom wizard is selected
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.hbs
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.js.es6
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  config/locales/client.en.yml
  plugin.rb
  test/javascripts/fixtures/categories.js.es6
Due: rubocop, i18n-lint

REFACTOR: Move before_create_topic event handler to plugin.rb
  lib/custom_wizard/extensions/topic_extension.rb
  plugin.rb
Due: rubocop

REFACTOR: Improve test for category chooser when there is a create_topic_wizard customfield
  test/javascripts/acceptance/category-chooser-initializer-test.js
Due: prettier, eslint

DEV: Move tag element from publicTopicFields to basicTopicFields
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
Due: none

DEV: Add logic to append tag if user allowed
  lib/custom_wizard/action.rb
Due: rubocop

fix linting
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
Due: none

fix linting
  lib/custom_wizard/action.rb
Due: rubocop

point to new sub client gem update, add deauthorize action
  assets/javascripts/discourse/components/wizard-subscription-authorize.js
  plugin.rb
Due: rubocop, prettier, eslint

debug
  assets/javascripts/discourse/components/wizard-subscription-authorize.js
Due: prettier, eslint

evolve
  assets/javascripts/discourse/components/wizard-subscription-authorize.js
Due: prettier, eslint

evolve
  assets/javascripts/discourse/components/wizard-subscription-status.js
  assets/javascripts/discourse/templates/admin-wizards.hbs
  assets/javascripts/discourse/templates/components/wizard-subscription-status.hbs
Due: prettier, eslint

clean up
  assets/javascripts/discourse/components/wizard-subscription-status.js
Due: prettier, eslint

prettier
  assets/javascripts/discourse/components/wizard-subscription-status.js
  assets/javascripts/discourse/templates/components/wizard-subscription-status.hbs
Due: prettier, eslint

eslint
  assets/javascripts/discourse/components/wizard-subscription-status.js
Due: prettier, eslint

remove redundant client installed check code
  app/controllers/custom_wizard/admin/admin.rb
  assets/javascripts/discourse/components/wizard-subscription-status.js
  assets/javascripts/discourse/mixins/subscription.js.es6
  assets/javascripts/discourse/routes/admin-wizards.js.es6
  spec/requests/custom_wizard/admin/admin_controller_spec.rb
  test/javascripts/helpers/admin-wizard.js
Due: rubocop, prettier, eslint

fix
  assets/javascripts/discourse/components/wizard-subscription-status.js
Due: prettier, eslint

convert subscription mixin to service, colocate glimmer files
  assets/javascripts/discourse/components/wizard-mapper-selector.js.es6
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/components/wizard-subscription-badge.js.es6
  assets/javascripts/discourse/components/wizard-subscription-container.js.es6
  assets/javascripts/discourse/components/wizard-subscription-cta.hbs
  assets/javascripts/discourse/components/wizard-subscription-cta.js
  assets/javascripts/discourse/components/wizard-subscription-cta.js.es6
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
  assets/javascripts/discourse/mixins/subscription.js.es6
  assets/javascripts/discourse/services/subscription.js
  assets/javascripts/discourse/templates/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/templates/components/wizard-subscription-cta.hbs
Due: prettier, eslint

rename service class
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

fix variable reference
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
Due: none

evolve service
  assets/javascripts/discourse/components/wizard-subscription-status.js
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

debug
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

move subscription back-end call
  app/controllers/custom_wizard/admin/subscription.rb
  assets/javascripts/discourse/services/subscription.js
  config/routes.rb
Due: rubocop, prettier, eslint

fix file inclusion
  assets/javascripts/discourse/services/subscription.js
  config/routes.rb
  plugin.rb
Due: rubocop, prettier, eslint

tweak route
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint
