Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: ensure element is present before passing on insertText event
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

Bump version
  plugin.rb
Due: rubocop

Linting fix
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

DEV: Add another wizard to test reading a wizard content
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

DEV: Add test for wizard set and if in actions section
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Add test for reading wizard content
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

Ensure subscriptions are not stubbed if testing for no subscription
  spec/plugin_helper.rb
  spec/requests/custom_wizard/admin/admin_controller_spec.rb
Due: rubocop

Also ensure subscription client definition is in the right state
  spec/components/custom_wizard/subscription_spec.rb
  spec/plugin_helper.rb
  spec/requests/custom_wizard/admin/admin_controller_spec.rb
Due: rubocop

Fix failing specs
  plugin.rb
  spec/components/custom_wizard/log_spec.rb
  spec/components/custom_wizard/mapper_spec.rb
Due: rubocop

Fix failing spec
  spec/requests/custom_wizard/admin/manager_controller_spec.rb
Due: rubocop

bump version
  plugin.rb
Due: rubocop

Update subscription client class
  lib/custom_wizard/subscription.rb
Due: rubocop

Update class in tests
  spec/components/custom_wizard/subscription_spec.rb
  spec/fixtures/subscription_client.rb
  spec/plugin_helper.rb
Due: rubocop

Bump patch
  plugin.rb
Due: rubocop

DEV: Add memoization to reduce redis calls
  lib/custom_wizard/custom_field.rb
Due: rubocop

DEV: Undo formatting change
  lib/custom_wizard/custom_field.rb
Due: rubocop

DEV: frontend tests cleanup
  assets/javascripts/discourse/components/custom-user-selector.js.es6
  assets/javascripts/discourse/components/custom-wizard-text-field.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-api-show.js.es6
  plugin.rb
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-manager-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: rubocop, prettier, eslint

DEV: Implement instance-level caching for custom fields
  lib/custom_wizard/custom_field.rb
Due: rubocop

DEV: Change instance name to a more specific name
  lib/custom_wizard/custom_field.rb
Due: rubocop

FIX: upon revisit, start at step 1 if reset on revisit is set
  lib/custom_wizard/wizard.rb
  spec/components/custom_wizard/wizard_spec.rb
Due: rubocop

IMPROVE: make the test more logical to read
  spec/components/custom_wizard/wizard_spec.rb
Due: rubocop

Remove fragile tests
  plugin.rb
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: rubocop, prettier, eslint

Add product slug env variable
  lib/custom_wizard/subscription.rb
  plugin.rb
  spec/components/custom_wizard/subscription_spec.rb
Due: rubocop

FIX: javascript exception during initialisation
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

bump patch
  plugin.rb
Due: rubocop

linting
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

FIX: temp fix for javascript exception during init
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
  plugin.rb
Due: rubocop

IMPROVE: Move pending wizard check to page change event
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
Due: none

FE linting
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-api-show.js.es6
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

update package.json
  package.json
Due: none

update yarn.lock
  yarn.lock
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
