Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Replaced documentation links
  README.md
  assets/javascripts/discourse/components/wizard-custom-action.js.es6
  assets/javascripts/discourse/components/wizard-custom-field.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-custom-fields.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-logs.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-manager.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-submissions.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-wizard.js.es6
  assets/javascripts/discourse/mixins/subscription.js.es6
  config/locales/client.en.yml
Due: i18n-lint

Bump version
  plugin.rb
Due: rubocop

Fix prettier errors
  assets/javascripts/discourse/components/wizard-custom-action.js.es6
  assets/javascripts/discourse/components/wizard-custom-field.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-custom-fields.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-logs.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-manager.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-submissions.js.es6
Due: none

FIX: realtime validations
  assets/javascripts/discourse/templates/components/wizard-realtime-validations.hbs
Due: none

COMPATIBILITY: resolve getOwner import deprecation
  assets/javascripts/discourse/components/wizard-mapper-selector.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/mixins/subscription.js.es6
Due: none

COMPATIBILITY: resolve pluginId warning
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
Due: none

bump patch
  plugin.rb
Due: rubocop

DEV: PrettyText ctx load breaking change
  .rubocop.yml
  lib/custom_wizard/validators/update.rb
  plugin.rb
Due: rubocop

Add note to readme
  README.md
Due: none

temp sub update debugging
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

first update local subscriptions before retrieving them
  lib/custom_wizard/subscription.rb
Due: rubocop

make subscription update happen asynchronously on FE
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

linting
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

make init process async
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

only run remote sub update retrieve on update action
  app/controllers/custom_wizard/admin/subscription.rb
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/services/subscription.js
  lib/custom_wizard/subscription.rb
Due: rubocop, prettier, eslint

prettier
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

fix some tests
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
Due: prettier, eslint

COMPATIBILITY: resolve register unbound deprecation
  assets/javascripts/discourse/helpers/wizard-char-counter.js
  assets/javascripts/discourse/helpers/wizard-char-counter.js.es6
Due: prettier, eslint

fix a FE test involving altered Composer
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

prettier
  assets/javascripts/discourse/helpers/wizard-char-counter.js
Due: prettier, eslint

prettier
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

fix more FE tests
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

prettier
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
Due: prettier, eslint

IMPROVE: move Pavilion icon to dedicated file and implementation standard
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/stylesheets/common/admin.scss
  plugin.rb
  svg-icons/plugin-icons.svg
Due: rubocop, prettier-scss

restore client install check
  lib/custom_wizard/subscription.rb
Due: rubocop

prettier
  assets/stylesheets/common/admin.scss
Due: prettier-scss

IMPROVE: utilise button icon to signify update
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
Due: prettier, eslint

prettier
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
Due: none

formatting tweak to prevent change of update button status disturbing layout
  assets/stylesheets/common/admin.scss
Due: prettier-scss

Don't run a remote subsciption status update on every visit to Wizards admin route
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
Due: none

Update subscription admin ux
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/components/wizard-subscription-cta.hbs
  assets/javascripts/discourse/components/wizard-subscription-cta.js
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
  assets/javascripts/discourse/services/subscription.js
  assets/stylesheets/common/admin.scss
  assets/stylesheets/common/admin/variables.scss
  config/locales/client.en.yml
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
Due: prettier, prettier-scss, eslint, i18n-lint

Change authorize/deauthorize to connect/disconnect
  config/locales/client.en.yml
Due: i18n-lint

DEV: custom fields concern has be refactored
  lib/custom_wizard/custom_field.rb
  spec/components/custom_wizard/custom_field_spec.rb
  spec/extensions/custom_field_extensions_spec.rb
Due: rubocop

DEV: Integrate subscription gem classes in rspec suite
  .rubocop.yml
  plugin.rb
  spec/components/custom_wizard/action_spec.rb
  spec/components/custom_wizard/builder_spec.rb
  spec/components/custom_wizard/custom_field_spec.rb
  spec/components/custom_wizard/submission_spec.rb
  spec/components/custom_wizard/subscription_spec.rb
  spec/components/custom_wizard/template_spec.rb
  spec/components/custom_wizard/template_validator_spec.rb
  spec/components/custom_wizard/update_validator_spec.rb
  spec/components/custom_wizard/wizard_spec.rb
  spec/extensions/custom_field_extensions_spec.rb
  spec/extensions/extra_locales_controller_spec.rb
  spec/extensions/guardian_extension_spec.rb
  spec/extensions/invites_controller_spec.rb
  spec/extensions/users_controller_spec.rb
  spec/plugin_helper.rb
  spec/requests/custom_wizard/admin/api_controller_spec.rb
  spec/requests/custom_wizard/admin/custom_fields_controller_spec.rb
  spec/requests/custom_wizard/admin/logs_controller_spec.rb
  spec/requests/custom_wizard/admin/manager_controller_spec.rb
  spec/requests/custom_wizard/admin/subscription_controller_spec.rb
  spec/requests/custom_wizard/application_controller_spec.rb
  spec/requests/custom_wizard/custom_field_extensions_spec.rb
  spec/requests/custom_wizard/steps_controller_spec.rb
  spec/requests/custom_wizard/wizard_controller_spec.rb
  spec/serializers/custom_wizard/basic_wizard_serializer_spec.rb
  spec/serializers/custom_wizard/custom_field_serializer_spec.rb
  spec/serializers/custom_wizard/submission_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_field_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_step_serializer_spec.rb
Due: rubocop

Bump plugin version
  plugin.rb
Due: rubocop

DEV: improve send message spec
  spec/components/custom_wizard/action_spec.rb
Due: rubocop

Update admin.scss
  assets/stylesheets/common/admin.scss
Due: prettier-scss

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
