Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Update plugin.rb
  plugin.rb
Due: rubocop

Add ruby to gemfile.lock platforms and update gitignore
  .gitignore
  Gemfile.lock
Due: none

FIX: straighten-out wizard-level subscription features
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
  assets/stylesheets/common/admin.scss
  lib/custom_wizard/subscription.rb
Due: rubocop, prettier-scss

FEATURE: add can_create_tag
  app/controllers/custom_wizard/admin/wizard.rb
  app/serializers/custom_wizard/wizard_field_serializer.rb
  assets/javascripts/discourse/templates/components/custom-wizard-field-tag.hbs
  assets/javascripts/discourse/templates/components/wizard-custom-field.hbs
  config/locales/client.en.yml
  lefthook.yml
  lib/custom_wizard/builder.rb
  lib/custom_wizard/field.rb
Due: rubocop, i18n-lint

Update plugin version
  plugin.rb
Due: rubocop

Add subscription check for API features
  app/controllers/custom_wizard/admin/api.rb
  lib/custom_wizard/subscription.rb
  plugin.rb
  spec/fixtures/api/api.json
  spec/requests/custom_wizard/admin/api_controller_spec.rb
Due: rubocop

Fix required fields with blank string values
  lib/custom_wizard/validators/update.rb
  spec/components/custom_wizard/update_validator_spec.rb
Due: rubocop

Bump version
  plugin.rb
Due: rubocop

Update quit text on first step
  config/locales/client.en.yml
Due: i18n-lint

IMPROVE: Allow upload button on mobile
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Patch for wizard URL path to take account of Discourse with subdirectory base URL.
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
Due: none

Bump version
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
  plugin.rb
Due: rubocop

prettier
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
Due: none

Removed conditional statement that would always be true
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

Add avatar interpolation support
  assets/javascripts/discourse/components/wizard-text-editor.js.es6
  lib/custom_wizard/mapper.rb
  spec/components/custom_wizard/mapper_spec.rb
  spec/fixtures/mapper/inputs.json
Due: rubocop

Version bump
  plugin.rb
Due: rubocop

Update wizard-text-editor.js.es6
  assets/javascripts/discourse/components/wizard-text-editor.js.es6
Due: none

DEV: Add admin submission acceptance test
  test/javascripts/acceptance/admin-submissions-test.js
Due: prettier, eslint

DEV: Add admin custom fields acceptance test
  test/javascripts/acceptance/admin-custom-fields-test.js
Due: prettier, eslint

DEV: Add admin logs acceptance test
  test/javascripts/acceptance/admin-logs-test.js
Due: prettier, eslint

DEV: Remove unused code from admin log acceptance test
  test/javascripts/acceptance/admin-logs-test.js
Due: prettier, eslint

DEV: Add unselecting dropdown element in admin acceptance test
  test/javascripts/acceptance/admin-submissions-test.js
Due: prettier, eslint

Ensure that we're mapping an array
  assets/javascripts/discourse/components/wizard-text-editor.js.es6
Due: none

Update mapper_spec.rb
  spec/components/custom_wizard/mapper_spec.rb
Due: rubocop

DEV: Add admin manager acceptance test
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add admin wizards acceptance test
  test/javascripts/acceptance/admin-wizards-test.js
Due: prettier, eslint

DEV: Add create wizard section in acceptance test
  test/javascripts/acceptance/admin-wizards-test.js
Due: prettier, eslint

DEV: Add tests to unsuscribed wizard admin
  test/javascripts/acceptance/admin-wizards-test.js
Due: prettier, eslint

DEV: Rename wizard test file
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Modify title for acceptance test
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Add subscribed admin test
  test/javascripts/acceptance/admin-wizards-subscribed-test.js
Due: prettier, eslint

DEV: Remove repeated acceptance test
  test/javascripts/acceptance/admin-wizards-subscribed-test.js
Due: prettier, eslint

DEV: Change admin acceptance test
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
Due: prettier, eslint

DEV: Add admin business subscription acceptance test
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
