Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Bump version
  plugin.rb
Due: rubocop

Update COPYRIGHT.txt
  COPYRIGHT.txt
Due: none

Fix version
  plugin.rb
Due: rubocop

Update subscription.rb
  lib/custom_wizard/subscription.rb
Due: rubocop

version bump
  plugin.rb
Due: rubocop

Add failing test
  spec/extensions/tags_controller_spec.rb
Due: rubocop

move guest toggle to permitted attribute
  app/controllers/custom_wizard/admin/wizard.rb
  app/serializers/custom_wizard/wizard_serializer.rb
  assets/javascripts/discourse/components/wizard-mapper-selector.js.es6
  assets/javascripts/discourse/components/wizard-mapper.js.es6
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/models/custom-wizard-admin.js.es6
  assets/javascripts/discourse/routes/custom-wizard-index.js.es6
  assets/javascripts/discourse/routes/custom-wizard-step.js.es6
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/custom_wizard/action.rb
  lib/custom_wizard/subscription.rb
  lib/custom_wizard/validators/template.rb
  lib/custom_wizard/wizard.rb
  spec/components/custom_wizard/action_spec.rb
  spec/fixtures/actions/route_to.json
  spec/fixtures/wizard/guests_permitted.json
  spec/requests/custom_wizard/steps_controller_spec.rb
  test/javascripts/acceptance/wizard-test.js
  test/javascripts/fixtures/wizard.js.es6
  test/javascripts/helpers/wizard.js
Due: rubocop, prettier, eslint, i18n-lint

Minor fixes
  assets/javascripts/discourse/models/custom-wizard-admin.js.es6
  lib/custom_wizard/validators/template.rb
  spec/components/custom_wizard/template_validator_spec.rb
Due: rubocop

Update custom-wizard-admin.js.es6
  assets/javascripts/discourse/models/custom-wizard-admin.js.es6
Due: none

Remove request_store and use for_input
  assets/javascripts/discourse/components/custom-wizard-tag-chooser.js.es6
  lib/custom_wizard/extensions/discourse_tagging.rb
  lib/custom_wizard/extensions/tags_controller.rb
  plugin.rb
  spec/extensions/discourse_tagging_spec.rb
  spec/extensions/tags_controller_spec.rb
Due: rubocop

FIX: compound selectors may no longer be extended
  assets/stylesheets/common/wizard/step.scss
Due: prettier-scss

bump version
  plugin.rb
Due: rubocop

Restrict guest support to standard and business subscriptions
  assets/javascripts/discourse/components/wizard-mapper-selector.js.es6
  config/locales/server.en.yml
  lib/custom_wizard/mapper.rb
  lib/custom_wizard/subscription.rb
  spec/components/custom_wizard/subscription_spec.rb
Due: rubocop, i18n-lint

linting
  assets/stylesheets/common/wizard/step.scss
Due: prettier-scss

Update wizard.rb
  lib/custom_wizard/wizard.rb
Due: rubocop

Ensure admin can access wizard multiple times
  lib/custom_wizard/wizard.rb
Due: rubocop

Guest wizards cannot use composer or upload
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/models/custom-wizard-admin.js.es6
  assets/javascripts/discourse/routes/admin-wizards-wizard.js.es6
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
  lib/custom_wizard/field.rb
  lib/custom_wizard/validators/template.rb
  spec/components/custom_wizard/template_validator_spec.rb
Due: rubocop

Fix specs
  spec/components/custom_wizard/template_validator_spec.rb
  spec/fixtures/field/upload.json
  spec/fixtures/wizard.json
  spec/serializers/custom_wizard/wizard_field_serializer_spec.rb
Due: rubocop

Complete updates to handle subscription product slugs
  lib/custom_wizard/subscription.rb
  spec/components/custom_wizard/subscription_spec.rb
  spec/fixtures/subscription_client.rb
  spec/plugin_helper.rb
Due: rubocop

Update workflow
  .github/workflows/discourse-plugin.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

Fix admin index
  app/controllers/custom_wizard/admin/admin.rb
  spec/components/custom_wizard/subscription_spec.rb
  spec/requests/custom_wizard/admin/admin_controller_spec.rb
  spec/requests/custom_wizard/admin/submissions_controller_spec.rb
Due: rubocop

Change problematic Dir.exists?
  spec/requests/custom_wizard/admin/manager_controller_spec.rb
Due: rubocop

FIX: (File|Dir).exists? is deprecated
  spec/requests/custom_wizard/admin/manager_controller_spec.rb
Due: rubocop

FIX: Client-side exception fixes
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/routes/admin-wizards-wizard.js.es6
  plugin.rb
Due: rubocop

FIX: Ensure tag_groups is in wizard schema
  assets/javascripts/discourse/lib/wizard-schema.js.es6
Due: none

Fix prettier issue and bump version
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  plugin.rb
Due: rubocop

FIX: Use discourse hyperlink modal in composer instead of custom
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  assets/javascripts/discourse/components/custom-wizard-composer-hyperlink.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-composer-hyperlink.hbs
  plugin.rb
Due: rubocop

FIX: regular users can't access wizard with guest permissions
  lib/custom_wizard/wizard.rb
  spec/components/custom_wizard/wizard_spec.rb
Due: rubocop

Bump patch
  plugin.rb
Due: rubocop

DEV: Add front-end test for hyperlink modal in composer
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

IMPROVE: separate out new tests
  spec/components/custom_wizard/wizard_spec.rb
Due: rubocop

Remove subscription requirement for field interpolation.
  lib/custom_wizard/mapper.rb
  spec/components/custom_wizard/mapper_spec.rb
Due: rubocop

FIX: add observed cache to undo changes mixin
  assets/javascripts/discourse/mixins/undo-changes.js.es6
  plugin.rb
  spec/fixtures/sprockets/require_tree_discourse_empty.js
  spec/fixtures/sprockets/require_tree_discourse_non_existant.js
  spec/fixtures/sprockets/require_tree_discourse_test.js
Due: rubocop, prettier, eslint
