Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

New translations client.en.yml (Portuguese, Brazilian)
  config/locales/client.pt.yml
Due: none

New translations server.en.yml (Portuguese, Brazilian)
  config/locales/server.pt.yml
Due: none

Remove Subscription references
  README.md
Due: none

Update moment.js path
  lib/custom_wizard/validators/update.rb
Due: rubocop

Update plugin.rb
  plugin.rb
Due: rubocop

Change bug report link in README
  README.md
Due: none

Update in light of changes to tagging in core
  assets/javascripts/discourse/components/custom-wizard-tag-chooser.js
  lib/custom_wizard/extensions/discourse_tagging.rb
  spec/extensions/discourse_tagging_spec.rb
Due: rubocop, prettier, eslint

Bump the version to 2.13.4
  plugin.rb
Due: rubocop

Replace /apis with /api to match routes.rb.
  app/controllers/custom_wizard/admin/api.rb
  assets/javascripts/discourse/controllers/admin-wizards-api-show.js
  assets/javascripts/discourse/models/custom-wizard-api.js
  lib/custom_wizard/api/authorization.rb
Due: rubocop, prettier, eslint

Update for new core plugin compiler
  assets/javascripts/discourse/components/wizard-value-list.js
  assets/javascripts/discourse/initializers/custom-wizard-dynamic-schema.js
  assets/javascripts/discourse/lib/wizard-schema.js
Due: prettier, eslint

Provide Russian translation of client strings.
  config/locales/client.ru.yml
Due: none

COMPATIBILITY Support new category settings approach
  assets/javascripts/discourse/components/custom-wizard-category-settings.js
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.hbs
Due: prettier, eslint

Update custom-wizard-edits.js
  assets/javascripts/discourse/initializers/custom-wizard-edits.js
Due: prettier, eslint

bump version
  plugin.rb
Due: rubocop

Add realtime validation for text and dropdown fields
  app/serializers/custom_wizard/wizard_field_serializer.rb
  assets/javascripts/discourse/components/wizard-realtime-validations.hbs
  assets/javascripts/discourse/components/wizard-realtime-validations.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/custom_wizard/realtime_validation.rb
  lib/custom_wizard/validators/update.rb
  plugin.rb
  spec/components/custom_wizard/update_validator_spec.rb
  spec/serializers/custom_wizard/wizard_field_serializer_spec.rb
Due: rubocop, prettier, eslint, i18n-lint

New translations client.en.yml (Romanian)
  config/locales/client.ro.yml
Due: none

New translations server.en.yml (Romanian)
  config/locales/server.ro.yml
Due: none

New translations client.en.yml (French)
  config/locales/client.fr.yml
Due: none

New translations server.en.yml (French)
  config/locales/server.fr.yml
Due: none

New translations client.en.yml (Spanish)
  config/locales/client.es.yml
Due: none

New translations server.en.yml (Spanish)
  config/locales/server.es.yml
Due: none

New translations client.en.yml (Afrikaans)
  config/locales/client.af.yml
Due: none

New translations server.en.yml (Afrikaans)
  config/locales/server.af.yml
Due: none

New translations client.en.yml (Arabic)
  config/locales/client.ar.yml
Due: none

New translations server.en.yml (Arabic)
  config/locales/server.ar.yml
Due: none

New translations client.en.yml (Belarusian)
  config/locales/client.be.yml
Due: none

New translations server.en.yml (Belarusian)
  config/locales/server.be.yml
Due: none

New translations client.en.yml (Bulgarian)
  config/locales/client.bg.yml
Due: none

New translations server.en.yml (Bulgarian)
  config/locales/server.bg.yml
Due: none

New translations client.en.yml (Catalan)
  config/locales/client.ca.yml
Due: none

New translations server.en.yml (Catalan)
  config/locales/server.ca.yml
Due: none

New translations client.en.yml (Czech)
  config/locales/client.cs.yml
Due: none

New translations server.en.yml (Czech)
  config/locales/server.cs.yml
Due: none

New translations client.en.yml (Danish)
  config/locales/client.da.yml
Due: none

New translations server.en.yml (Danish)
  config/locales/server.da.yml
Due: none

New translations client.en.yml (German)
  config/locales/client.de.yml
Due: none

New translations server.en.yml (German)
  config/locales/server.de.yml
Due: none

New translations client.en.yml (Greek)
  config/locales/client.el.yml
Due: none

New translations server.en.yml (Greek)
  config/locales/server.el.yml
Due: none

New translations client.en.yml (Basque)
  config/locales/client.eu.yml
Due: none
