Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

one more try
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
Due: none

FIX: explicitly order submission list for specs
  lib/custom_wizard/submission.rb
  lib/custom_wizard/subscription.rb
  spec/serializers/custom_wizard/submission_serializer_spec.rb
Due: rubocop

Bump version
  plugin.rb
Due: rubocop

DEV: Add explicit ordering to more specs
  spec/serializers/custom_wizard/submission_serializer_spec.rb
Due: rubocop

FIX: Refine Topic Creation Hook to Allow Wizard Multi-Step Functionality
  lib/custom_wizard/action.rb
  plugin.rb
Due: rubocop

bump version
  plugin.rb
Due: rubocop

fix linting
  plugin.rb
Due: rubocop

FIX: Use wizard_submission_id instead of new value
  lib/custom_wizard/action.rb
  plugin.rb
Due: rubocop

DEV: remove next condition
  plugin.rb
Due: rubocop

DEV: Modify test for errors
  spec/extensions/topic_extension_spec.rb
Due: rubocop

DEV: Add correct parameters for testing
  spec/extensions/topic_extension_spec.rb
Due: rubocop

DEV: Manage edge case not custom fields
  plugin.rb
Due: rubocop

DEV: Add test of creating post when there are multiple actions
  spec/components/custom_wizard/action_spec.rb
Due: rubocop

Add discourse_plugin_statistics plugin definition
  .rubocop.yml
  lib/custom_wizard/subscription.rb
  lib/discourse_plugin_statistics/plugin.rb
  plugin.rb
  spec/components/discourse_plugin_statistics/plugin_spec.rb
Due: rubocop

Add additional check in feature counter
  lib/discourse_plugin_statistics/plugin.rb
Due: rubocop

Update plugin.rb
  lib/discourse_plugin_statistics/plugin.rb
Due: rubocop

Update plugin.rb
  plugin.rb
Due: rubocop

Bump statistics gem version
  plugin.rb
Due: rubocop

bump patch
  plugin.rb
Due: rubocop

Undo rubocop autoformat
  lib/custom_wizard/subscription.rb
Due: rubocop

Bump stats gem version
  plugin.rb
Due: rubocop

Bump gem stats version
  plugin.rb
Due: rubocop

Update stats gem version
  plugin.rb
Due: rubocop

Update README.md
  README.md
Due: none

add front end tests for authorisation and subscription status
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

linting
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
Due: prettier, eslint

DEV: Add exception to display all categories for admin and staff
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  test/javascripts/acceptance/category-chooser-initializer-test.js
Due: prettier, eslint

DEV: Refactor staff condition in category-chooser for simplicity
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  test/javascripts/acceptance/category-chooser-initializer-test.js
Due: prettier, eslint

css tweak
  assets/stylesheets/common/admin.scss
Due: prettier-scss

FEATURE: add a sub refresh button
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/stylesheets/common/admin.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, i18n-lint

try alternative subscription update
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/components/wizard-subscription-status.js
Due: prettier, eslint

DEV: Stop using the deprecated text.cookAsync function
  assets/javascripts/discourse/components/custom-wizard-field.js.es6
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
Due: none

Ensure compatibility
  .discourse-compatibility
Due: none
