Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Disable step controls when uploading
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-step.hbs
Due: none

COMPATIBILITY: hide powered by discourse on wizards
  assets/stylesheets/common/wizard/wizard.scss
Due: prettier-scss

add fe test for next button disablement during upload
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

linting
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

linting
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
Due: none

bump patch
  plugin.rb
Due: rubocop

DEV: fallback to core composerEditorInit
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  plugin.rb
Due: rubocop

DEV: handle add_to_serializer deprecations
  plugin.rb
Due: rubocop

wip
  assets/javascripts/discourse/components/custom-wizard-field-topic.js.es6
  assets/javascripts/discourse/components/custom-wizard-topic-selector.js.es6
  assets/javascripts/discourse/components/wizard-custom-field.js.es6
  assets/javascripts/discourse/components/wizard-table-field.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/models/custom-wizard-field.js.es6
  assets/javascripts/discourse/models/custom-wizard-step.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-field-topic.hbs
  assets/javascripts/discourse/templates/components/wizard-table-field.hbs
  assets/stylesheets/common/wizard/field.scss
  config/locales/client.en.yml
  lib/custom_wizard/builder.rb
  lib/custom_wizard/field.rb
  lib/discourse_plugin_statistics/plugin.rb
Due: rubocop, prettier-scss, i18n-lint

Tests and linting
  assets/javascripts/discourse/components/custom-wizard-field-topic.js.es6
  assets/javascripts/discourse/components/custom-wizard-topic-selector.js.es6
  assets/javascripts/discourse/components/wizard-custom-field.js.es6
  assets/javascripts/discourse/models/custom-wizard-step.js.es6
  assets/stylesheets/common/wizard/field.scss
  plugin.rb
  spec/components/custom_wizard/mapper_spec.rb
  spec/components/discourse_plugin_statistics/plugin_spec.rb
Due: rubocop, prettier-scss

Bump version
  plugin.rb
Due: rubocop

Add category scoping field to topics selector
  app/controllers/custom_wizard/admin/wizard.rb
  app/serializers/custom_wizard/wizard_field_serializer.rb
  assets/javascripts/discourse/components/custom-wizard-topic-selector.js.es6
  assets/javascripts/discourse/components/wizard-custom-field.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-field-topic.hbs
  assets/javascripts/discourse/templates/components/wizard-custom-field.hbs
  config/locales/client.en.yml
  lib/custom_wizard/builder.rb
  lib/custom_wizard/field.rb
Due: rubocop, i18n-lint

Tweak topic-categories CSS
  assets/stylesheets/common/wizard/field.scss
Due: prettier-scss

Add acceptance test
  test/javascripts/acceptance/field-test.js
  test/javascripts/fixtures/wizard.js.es6
Due: prettier, eslint

New translations client.en.yml (Romanian)
  config/locales/client.ro.yml
Due: none

New translations client.en.yml (French)
  config/locales/client.fr.yml
Due: none

New translations client.en.yml (Spanish)
  config/locales/client.es.yml
Due: none

New translations client.en.yml (Afrikaans)
  config/locales/client.af.yml
Due: none

New translations client.en.yml (Arabic)
  config/locales/client.ar.yml
Due: none

New translations client.en.yml (Belarusian)
  config/locales/client.be.yml
Due: none

New translations client.en.yml (Bulgarian)
  config/locales/client.bg.yml
Due: none

New translations client.en.yml (Catalan)
  config/locales/client.ca.yml
Due: none

New translations client.en.yml (Czech)
  config/locales/client.cs.yml
Due: none

New translations client.en.yml (Danish)
  config/locales/client.da.yml
Due: none

New translations client.en.yml (German)
  config/locales/client.de.yml
Due: none

New translations client.en.yml (Greek)
  config/locales/client.el.yml
Due: none

New translations client.en.yml (Basque)
  config/locales/client.eu.yml
Due: none

New translations client.en.yml (Finnish)
  config/locales/client.fi.yml
Due: none

New translations client.en.yml (Hebrew)
  config/locales/client.he.yml
Due: none

New translations client.en.yml (Hungarian)
  config/locales/client.hu.yml
Due: none

New translations client.en.yml (Armenian)
  config/locales/client.hy.yml
Due: none

New translations client.en.yml (Italian)
  config/locales/client.it.yml
Due: none

New translations client.en.yml (Japanese)
  config/locales/client.ja.yml
Due: none

New translations client.en.yml (Georgian)
  config/locales/client.ka.yml
Due: none

New translations client.en.yml (Korean)
  config/locales/client.ko.yml
Due: none

New translations client.en.yml (Kurdish)
  config/locales/client.ku.yml
Due: none

New translations client.en.yml (Lithuanian)
  config/locales/client.lt.yml
Due: none

New translations client.en.yml (Macedonian)
  config/locales/client.mk.yml
Due: none

New translations client.en.yml (Mongolian)
  config/locales/client.mn.yml
Due: none

New translations client.en.yml (Dutch)
  config/locales/client.nl.yml
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
