Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

tweak route
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

move subscription container to Glimmer
  assets/javascripts/discourse/components/wizard-subscription-container.hbs
  assets/javascripts/discourse/components/wizard-subscription-container.js
  assets/javascripts/discourse/components/wizard-subscription-container.js.es6
  assets/javascripts/discourse/templates/components/wizard-subscription-container.hbs
Due: prettier, eslint

fix spelling mistake
  app/controllers/custom_wizard/admin/subscription.rb
Due: rubocop

remove redundant sub client check
  lib/custom_wizard/subscription.rb
Due: rubocop

debug
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
Due: none

attempted fix
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
Due: none

revert
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
Due: none

change copy for deauthorize label
  config/locales/client.en.yml
Due: i18n-lint

remove debugging
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

prettier
  assets/javascripts/discourse/components/wizard-mapper-selector.js.es6
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/components/wizard-subscription-container.hbs
  assets/javascripts/discourse/components/wizard-subscription-container.js
  assets/javascripts/discourse/components/wizard-subscription-cta.hbs
  assets/javascripts/discourse/components/wizard-subscription-cta.js
  assets/javascripts/discourse/components/wizard-subscription-status.js
  assets/javascripts/discourse/routes/admin-wizards.js.es6
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

strip out redundant code from admin wizards route and controller
  assets/javascripts/discourse/controllers/admin-wizards.js.es6
  assets/javascripts/discourse/routes/admin-wizards.js.es6
Due: none

linting
  assets/javascripts/discourse/components/modal/admin-wizards-columns.js
  assets/javascripts/discourse/components/modal/next-session-scheduled.js
Due: prettier, eslint

rubocop
  app/controllers/custom_wizard/admin/subscription.rb
  lib/custom_wizard/subscription.rb
Due: rubocop

remove redundant controller link
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

remove redundant import
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

linting
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
Due: none

linting
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-cta.hbs
Due: none

convert buttons to DButton
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-cta.hbs
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
Due: none

fix button close
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
Due: none

simplify buttons
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/components/wizard-subscription-cta.hbs
  assets/javascripts/discourse/components/wizard-subscription-cta.js
Due: prettier, eslint

update front-end tests
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

update back-end tests
  spec/requests/custom_wizard/admin/admin_controller_spec.rb
Due: rubocop

update FE tests
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-logs-test.js
  test/javascripts/acceptance/admin-manager-test.js
  test/javascripts/acceptance/admin-submissions-test.js
  test/javascripts/acceptance/admin-wizards-api-test.js
Due: prettier, eslint

add FE get suppliers stub
  test/javascripts/acceptance/admin-submissions-test.js
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

fix front end tests
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
  assets/javascripts/discourse/services/subscription.js
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-logs-test.js
  test/javascripts/acceptance/admin-manager-test.js
  test/javascripts/acceptance/admin-submissions-test.js
  test/javascripts/acceptance/admin-wizards-api-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

prettier
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-logs-test.js
  test/javascripts/acceptance/admin-manager-test.js
  test/javascripts/acceptance/admin-submissions-test.js
  test/javascripts/acceptance/admin-wizards-api-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
Due: prettier, eslint

prettier
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

namespace fix
  lib/custom_wizard/subscription.rb
Due: rubocop

overcome inheritance that was forcing table look up on tests
  spec/components/custom_wizard/subscription_spec.rb
  spec/fixtures/subscription_client.rb
Due: rubocop

instantiate mocked up interface for more tests
  spec/plugin_helper.rb
Due: rubocop

locale changes
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
  config/locales/client.en.yml
Due: i18n-lint

specs: ensure sub client code is mocked out
  app/controllers/custom_wizard/admin/admin.rb
  spec/components/custom_wizard/action_spec.rb
  spec/components/custom_wizard/builder_spec.rb
  spec/components/custom_wizard/custom_field_spec.rb
  spec/components/custom_wizard/submission_spec.rb
  spec/components/custom_wizard/subscription_spec.rb
  spec/components/custom_wizard/template_spec.rb
  spec/components/custom_wizard/template_validator_spec.rb
  spec/components/custom_wizard/update_validator_spec.rb
  spec/components/custom_wizard/wizard_spec.rb
  spec/extensions/custom_field_extensions_spec.rb
  spec/extensions/extra_locales_controller_spec.rb
  spec/extensions/guardian_extension_spec.rb
  spec/extensions/invites_controller_spec.rb
  spec/extensions/users_controller_spec.rb
  spec/requests/custom_wizard/admin/api_controller_spec.rb
  spec/requests/custom_wizard/admin/custom_fields_controller_spec.rb
  spec/requests/custom_wizard/admin/logs_controller_spec.rb
  spec/requests/custom_wizard/admin/manager_controller_spec.rb
  spec/requests/custom_wizard/admin/subscription_controller_spec.rb
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
  spec/requests/custom_wizard/application_controller_spec.rb
  spec/requests/custom_wizard/custom_field_extensions_spec.rb
  spec/requests/custom_wizard/steps_controller_spec.rb
  spec/requests/custom_wizard/wizard_controller_spec.rb
  spec/serializers/custom_wizard/basic_wizard_serializer_spec.rb
  spec/serializers/custom_wizard/custom_field_serializer_spec.rb
  spec/serializers/custom_wizard/submission_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_field_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_step_serializer_spec.rb
Due: rubocop

remove redundant code
  app/controllers/custom_wizard/admin/admin.rb
Due: rubocop

change name of subscription stubbing method to add clarity of intent
  spec/components/custom_wizard/action_spec.rb
  spec/components/custom_wizard/builder_spec.rb
  spec/components/custom_wizard/custom_field_spec.rb
  spec/components/custom_wizard/submission_spec.rb
  spec/components/custom_wizard/subscription_spec.rb
  spec/components/custom_wizard/template_spec.rb
  spec/components/custom_wizard/template_validator_spec.rb
  spec/components/custom_wizard/update_validator_spec.rb
  spec/components/custom_wizard/wizard_spec.rb
  spec/extensions/custom_field_extensions_spec.rb
  spec/extensions/extra_locales_controller_spec.rb
  spec/extensions/guardian_extension_spec.rb
  spec/extensions/invites_controller_spec.rb
  spec/extensions/users_controller_spec.rb
  spec/plugin_helper.rb
  spec/requests/custom_wizard/admin/api_controller_spec.rb
  spec/requests/custom_wizard/admin/custom_fields_controller_spec.rb
  spec/requests/custom_wizard/admin/logs_controller_spec.rb
  spec/requests/custom_wizard/admin/manager_controller_spec.rb
  spec/requests/custom_wizard/admin/subscription_controller_spec.rb
  spec/requests/custom_wizard/application_controller_spec.rb
  spec/requests/custom_wizard/custom_field_extensions_spec.rb
  spec/requests/custom_wizard/steps_controller_spec.rb
  spec/requests/custom_wizard/wizard_controller_spec.rb
  spec/serializers/custom_wizard/basic_wizard_serializer_spec.rb
  spec/serializers/custom_wizard/custom_field_serializer_spec.rb
  spec/serializers/custom_wizard/submission_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_field_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_serializer_spec.rb
  spec/serializers/custom_wizard/wizard_step_serializer_spec.rb
Due: rubocop

fix localisation for deauthorize
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
Due: none

fix title
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
Due: none

fix titles & labels on sub button
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
  config/locales/client.en.yml
Due: i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
