Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

New translations server.en.yml (Oromo)
  config/locales/server.om.yml
Due: none

New translations client.en.yml (Sindhi)
  config/locales/client.sd.yml
Due: none

New translations server.en.yml (Sindhi)
  config/locales/server.sd.yml
Due: none

Minor realtime spec and code style cleanups
  app/serializers/custom_wizard/wizard_field_serializer.rb
  spec/components/custom_wizard/realtime_validation_spec.rb
  spec/requests/custom_wizard/realtime_validations_spec.rb
Due: rubocop

rm liquid declaration
  plugin.rb
Due: rubocop

bump version
  plugin.rb
Due: rubocop

FIX: remove orphaned this.done() call in wizard upload field
  assets/javascripts/discourse/components/custom-wizard-field-upload.js
Due: prettier, eslint

Bump version
  plugin.rb
Due: rubocop

Tag fixes and cleanup
  app/controllers/custom_wizard/tags.rb
  assets/javascripts/discourse/components/custom-wizard-date-input.js
  assets/javascripts/discourse/components/custom-wizard-date-time-input.js
  assets/javascripts/discourse/components/custom-wizard-field-tag.hbs
  assets/javascripts/discourse/components/custom-wizard-tag-chooser.js
  assets/javascripts/discourse/components/custom-wizard-tag-selector.js
  assets/javascripts/discourse/components/wizard-subscription-badge.hbs
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/components/wizard-subscription-status.hbs
  assets/javascripts/discourse/components/wizard-subscription-status.js
  assets/javascripts/discourse/lib/wizard.js
  config/routes.rb
  lib/custom_wizard/extensions/discourse_tagging.rb
  lib/custom_wizard/tag_search.rb
  plugin.rb
  spec/extensions/discourse_tagging_spec.rb
  spec/requests/custom_wizard/tags_controller_spec.rb
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
  test/javascripts/acceptance/field-test.js
Due: rubocop, prettier, eslint

Version bump
  plugin.rb
Due: rubocop

Fix pre-existing lint offenses across the plugin
  app/controllers/custom_wizard/steps.rb
  app/controllers/custom_wizard/wizard.rb
  app/serializers/custom_wizard/wizard_step_serializer.rb
  assets/javascripts/discourse/components/custom-user-selector.gjs
  assets/javascripts/discourse/components/wizard-realtime-validations.hbs
  assets/javascripts/discourse/components/wizard-realtime-validations.js
  assets/javascripts/discourse/lib/wizard-schema.js
  lib/custom_wizard/custom_field.rb
  lib/custom_wizard/engine.rb
  lib/custom_wizard/mapper.rb
  lib/custom_wizard/submission.rb
  lib/custom_wizard/subscription.rb
  lib/custom_wizard/template.rb
  lib/custom_wizard/validators/template.rb
  lib/custom_wizard/validators/update.rb
  lib/custom_wizard/wizard.rb
  spec/components/custom_wizard/log_spec.rb
  spec/components/custom_wizard/submission_spec.rb
  spec/extensions/topic_extension_spec.rb
  spec/jobs/set_after_time_wizard_spec.rb
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
  spec/serializers/custom_wizard/submission_serializer_spec.rb
Due: rubocop, prettier, eslint

DEV: Use model extension APIs instead of modifyClass
  .discourse-compatibility
  assets/javascripts/discourse/initializers/custom-wizard-edits.js
Due: prettier, eslint

FIX: Stop the admin wizard editor crashing on multiple mapper inputs
  assets/javascripts/discourse/components/wizard-mapper-connector.gjs
  plugin.rb
  test/javascripts/acceptance/admin-wizards-mapper-test.js
  test/javascripts/integration/components/wizard-mapper-test.gjs
Due: rubocop, prettier, eslint

FIX: Stop the admin wizard editor crashing on multiple mapper inputs (#320)
  assets/javascripts/discourse/components/wizard-mapper-connector.gjs
  plugin.rb
  test/javascripts/acceptance/admin-wizards-mapper-test.js
  test/javascripts/integration/components/wizard-mapper-test.gjs
Due: rubocop, prettier, eslint

Better handling of values in content fields.
  assets/javascripts/discourse/components/custom-wizard-field-dropdown.gjs
  test/javascripts/integration/components/custom-wizard-field-dropdown-test.gjs
Due: none

Better handling of values in content fields (#321)
  assets/javascripts/discourse/components/custom-wizard-field-dropdown.gjs
  plugin.rb
  test/javascripts/integration/components/custom-wizard-field-dropdown-test.gjs
Due: rubocop

Fix failing spec
  spec/extensions/invites_controller_spec.rb
Due: rubocop

Update plugin.rb
  plugin.rb
Due: rubocop

Fix failing spec (#322)
  plugin.rb
  spec/extensions/invites_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
