Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

New translations client.en.yml (Latvian)
  config/locales/client.lv.yml
Due: none

New translations client.en.yml (Azerbaijani)
  config/locales/client.az.yml
Due: none

New translations client.en.yml (Hindi)
  config/locales/client.hi.yml
Due: none

New translations client.en.yml (Malay)
  config/locales/client.ms.yml
Due: none

New translations client.en.yml (Telugu)
  config/locales/client.te.yml
Due: none

New translations client.en.yml (Tagalog)
  config/locales/client.tl.yml
Due: none

New translations client.en.yml (Yiddish)
  config/locales/client.yi.yml
Due: none

New translations client.en.yml (Welsh)
  config/locales/client.cy.yml
Due: none

New translations client.en.yml (Esperanto)
  config/locales/client.eo.yml
Due: none

New translations client.en.yml (Tatar)
  config/locales/client.tt.yml
Due: none

New translations client.en.yml (Malayalam)
  config/locales/client.ml.yml
Due: none

New translations client.en.yml (Tibetan)
  config/locales/client.bo.yml
Due: none

New translations client.en.yml (Bosnian)
  config/locales/client.bs.yml
Due: none

New translations client.en.yml (Kannada)
  config/locales/client.kn.yml
Due: none

New translations client.en.yml (Swahili)
  config/locales/client.sw.yml
Due: none

New translations client.en.yml (Nepali)
  config/locales/client.ne.yml
Due: none

New translations client.en.yml (Lao)
  config/locales/client.lo.yml
Due: none

New translations client.en.yml (Oromo)
  config/locales/client.om.yml
Due: none

New translations client.en.yml (Sindhi)
  config/locales/client.sd.yml
Due: none

FIX: fix client-side schema for guest create_topic
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  plugin.rb
Due: rubocop

Fix linting
  assets/javascripts/discourse/lib/wizard-schema.js.es6
Due: none

FIX: return user matching guest_email if exists
  lib/custom_wizard/action.rb
  plugin.rb
  spec/components/custom_wizard/action_spec.rb
Due: rubocop

Ensure user is in permitted group before redirecting after time
  Gemfile
  Gemfile.lock
  lib/custom_wizard/template.rb
  lib/custom_wizard/wizard.rb
  plugin.rb
  spec/requests/custom_wizard/application_controller_spec.rb
Due: rubocop

DEV: Don't raise exception if group cannot be found
  Gemfile.lock
  lib/custom_wizard/action.rb
Due: rubocop

FIX: checkbox submission values exception
  assets/javascripts/discourse/components/wizard-table-field.js.es6
Due: none

Bump version
  plugin.rb
Due: rubocop

DEV: Ensure admins are excluded from set_user_redirect
  lib/custom_wizard/wizard.rb
  plugin.rb
  spec/jobs/set_after_time_wizard_spec.rb
Due: rubocop

COMPATIBILITY: Update composer integration to prevent exceptions
  assets/javascripts/discourse/components/custom-wizard-field-composer.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-composer-editor.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-composer.hbs
  assets/stylesheets/common/wizard/composer.scss
  plugin.rb
Due: rubocop, prettier-scss

COMPATIBILITY: Convert actions in wizard composer editor
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  plugin.rb
Due: rubocop

FIX: ensure user is not redirected to single-submission wizard they have completed
  assets/javascripts/discourse/initializers/custom-wizard-redirect.js.es6
  lib/custom_wizard/wizard.rb
  plugin.rb
  spec/components/custom_wizard/wizard_spec.rb
  spec/jobs/set_after_time_wizard_spec.rb
  spec/requests/custom_wizard/application_controller_spec.rb
Due: rubocop

FIX: composer event prefix needs to be set later in the render cycle.
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
Due: none

COMPATIBILITY: Convert composer editor to modern ember component
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-composer-editor.hbs
  assets/javascripts/discourse/templates/components/custom-wizard-field-composer.hbs
Due: prettier, eslint

COMPATIBILITY: set wizardEventFieldId for uppy drop event
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js
  plugin.rb
Due: rubocop, prettier, eslint

Update support to client gem version 0.1.6
  assets/javascripts/discourse/components/wizard-subscription-status.js
  plugin.rb
Due: rubocop, prettier, eslint

COMPATIBILITY: more linting
  .rubocop.yml
  app/controllers/custom_wizard/admin/admin.rb
  app/controllers/custom_wizard/admin/api.rb
  app/controllers/custom_wizard/admin/custom_fields.rb
  app/controllers/custom_wizard/admin/logs.rb
  app/controllers/custom_wizard/admin/manager.rb
  app/controllers/custom_wizard/admin/submissions.rb
  app/controllers/custom_wizard/admin/subscription.rb
  app/controllers/custom_wizard/admin/wizard.rb
  app/controllers/custom_wizard/realtime_validations.rb
  app/controllers/custom_wizard/steps.rb
  app/controllers/custom_wizard/wizard.rb
  app/controllers/custom_wizard/wizard_client.rb
  lib/custom_wizard/api/authorization.rb
  lib/custom_wizard/field.rb
  lib/custom_wizard/wizard.rb
  plugin.rb
  spec/requests/custom_wizard/admin/wizard_controller_spec.rb
Due: rubocop

Add time groups feature
  app/controllers/custom_wizard/admin/user.rb
  app/controllers/custom_wizard/admin/wizard.rb
  app/jobs/regular/set_after_time_wizard.rb
  assets/javascripts/discourse/connectors/admin-user-details/admin-user-wizard-details.hbs
  assets/javascripts/discourse/controllers/admin-wizards-wizard-show.js.es6
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/routes/admin-wizards-wizard-show.js.es6
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
  assets/stylesheets/common/admin.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  lib/custom_wizard/subscription.rb
  lib/custom_wizard/template.rb
  lib/custom_wizard/validators/template.rb
  lib/custom_wizard/wizard.rb
  plugin.rb
  spec/components/custom_wizard/template_spec.rb
  spec/jobs/set_after_time_wizard_spec.rb
  spec/requests/custom_wizard/application_controller_spec.rb
Due: rubocop, prettier-scss, i18n-lint
