Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

New translations client.en.yml (Chinese Simplified)
  config/locales/client.zh.yml
Due: none

New translations client.en.yml (Chinese Traditional)
  config/locales/client.zh.yml
Due: none

New translations client.en.yml (Portuguese, Brazilian)
  config/locales/client.pt.yml
Due: none

New translations server.en.yml (Portuguese)
  config/locales/server.pt.yml
Due: none

New translations server.en.yml (Chinese Simplified)
  config/locales/server.zh.yml
Due: none

New translations server.en.yml (Chinese Traditional)
  config/locales/server.zh.yml
Due: none

New translations server.en.yml (Portuguese, Brazilian)
  config/locales/server.pt.yml
Due: none

Update README.md
  README.md
Due: none

Update subscription.js.es6
  assets/javascripts/discourse/mixins/subscription.js.es6
Due: none

Update subscription.js
  assets/javascripts/discourse/services/subscription.js
Due: prettier, eslint

Update plugin.rb
  plugin.rb
Due: rubocop

FIX: Specs involving topic CRUD require users with auto_groups 
  plugin.rb
  spec/extensions/topic_extension_spec.rb
Due: rubocop

DEV: Resolve `link-to.positional-arguments` deprecation
  assets/javascripts/discourse/templates/admin-wizards-manager.hbs
  assets/javascripts/discourse/templates/components/wizard-table-field.hbs
Due: none

bump version
  plugin.rb
Due: rubocop

DEV: Fix category field assertion
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

fix linting
  test/javascripts/acceptance/field-test.js
Due: prettier, eslint

Fix deprecations and broken tests
  assets/javascripts/discourse/templates/admin-wizards-manager.hbs
  assets/javascripts/discourse/templates/components/wizard-table-field.hbs
  assets/stylesheets/common/wizard/wizard.scss
  spec/components/custom_wizard/action_spec.rb
  spec/requests/custom_wizard/admin/api_controller_spec.rb
  test/javascripts/acceptance/admin-custom-fields-unsubscribed-test.js
  test/javascripts/acceptance/admin-logs-test.js
  test/javascripts/acceptance/admin-submissions-test.js
  test/javascripts/acceptance/admin-wizards-api-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
  test/javascripts/acceptance/field-test.js
Due: rubocop, prettier, prettier-scss, eslint

Bump version
  plugin.rb
Due: rubocop

Add meta topic id
  plugin.rb
Due: rubocop

Update admin-wizards-manager.hbs
  assets/javascripts/discourse/templates/admin-wizards-manager.hbs
Due: none

remove file that does not exist in main
  assets/javascripts/wizard/models/custom.js.es6
Due: none

sync file with main
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js.es6
Due: none

remove unused warning system
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
  assets/javascripts/discourse/models/custom-wizard-field.js.es6
  assets/javascripts/discourse/models/custom-wizard-step.js.es6
Due: none

Update resume on revisit dialog and add test
  assets/javascripts/discourse/models/custom-wizard.js.es6
  assets/javascripts/discourse/routes/custom-wizard.js.es6
  test/javascripts/acceptance/wizard-test.js
  test/javascripts/helpers/wizard.js
Due: prettier, eslint

Minor fixes
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
  assets/javascripts/discourse/routes/custom-wizard.js.es6
Due: none

FIX: breaking change to admin problem checks
  plugin.rb
Due: rubocop

Ensure route_to action works if code is blank string
  lib/custom_wizard/action.rb
  spec/components/custom_wizard/action_spec.rb
Due: rubocop

Bump patch version
  plugin.rb
Due: rubocop

DEV: Update to support strict-dynamic CSP
  app/views/layouts/qunit.html.erb
Due: none

Bump patch
  plugin.rb
Due: rubocop

Fix broken test
  spec/fixtures/wizard/permitted_admin.json
  spec/requests/custom_wizard/steps_controller_spec.rb
Due: rubocop

improve file names
  spec/fixtures/wizard/admin_permitted.json
  spec/requests/custom_wizard/steps_controller_spec.rb
Due: rubocop

Add admin sidebar section link
  assets/javascripts/discourse/initializers/custom-wizard-edits.js.es6
  plugin.rb
Due: rubocop

FIX: various fixes for realtime validations feature
  assets/javascripts/discourse/components/validator.js.es6
  assets/javascripts/discourse/components/wizard-realtime-validations.js.es6
  assets/javascripts/discourse/templates/components/custom-wizard-similar-topic.hbs
  assets/javascripts/discourse/templates/components/wizard-realtime-validations.hbs
  lib/custom_wizard/realtime_validations/similar_topics.rb
  plugin.rb
Due: rubocop

wip - prevent step change during upload
  assets/javascripts/discourse/components/custom-wizard-field-composer.js.es6
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
Due: none

remove commented out code, debugger statements
  assets/javascripts/discourse/components/custom-wizard-field-composer.js.es6
  assets/javascripts/discourse/components/custom-wizard-step.js.es6
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  i18n-lint: any of: **/{client,server}.en.yml
