Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Remove pause
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
Due: prettier, eslint

DEV: Remove comments and unused code
  test/javascripts/acceptance/admin-custom-fields-test.js
  test/javascripts/acceptance/admin-manager-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
Due: prettier, eslint

DEV: Create helper for pretender server response
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

DEV: Bump version
  plugin.rb
Due: rubocop

DEV: Delete helper file
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

FIX: Add missing `/` for correct path in pretender server
  test/javascripts/acceptance/admin-custom-fields-test.js
  test/javascripts/acceptance/admin-logs-test.js
  test/javascripts/acceptance/admin-manager-test.js
  test/javascripts/acceptance/admin-submissions-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Add settled to prevent rendering errors
  test/javascripts/acceptance/admin-custom-fields-test.js
  test/javascripts/acceptance/admin-manager-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Add settled to avoid rendering errors
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

FIX: Add settled to avoid render errors
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
Due: prettier, eslint

DEV: Skip freezing acceptance test
  test/javascripts/acceptance/admin-custom-fields-test.js
Due: prettier, eslint

DEV: Make test run
  test/javascripts/acceptance/admin-custom-fields-test.js
Due: prettier, eslint

DEV: Skip tests that freezes
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add manager test
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add helper values for admin acceptance tests
  test/javascripts/helpers/admin-wizard.js
Due: prettier, eslint

DEV: Change embedded response with helper values
  test/javascripts/acceptance/admin-custom-fields-test.js
Due: prettier, eslint

DEV: Remove await settled in admin custom field acceptance tests
  test/javascripts/acceptance/admin-custom-fields-test.js
Due: prettier, eslint

DEV: Remove unused import
  test/javascripts/acceptance/admin-custom-fields-test.js
Due: prettier, eslint

DEV: Add helper values for admin log acceptance tests
  test/javascripts/acceptance/admin-logs-test.js
Due: prettier, eslint

DEV: Add helper values for admin manager acceptance tests
  test/javascripts/acceptance/admin-manager-test.js
Due: prettier, eslint

DEV: Add helper values for admin submissions acceptance tests
  test/javascripts/acceptance/admin-submissions-test.js
Due: prettier, eslint

DEV: Add helper values for admin business acceptance tests
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
Due: prettier, eslint

DEV: Add helper values for admin standard acceptance tests
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
Due: prettier, eslint

DEV: Add helper values for admin unsuscribed acceptance tests
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Remove unused admin acceptance tests
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
Due: prettier, eslint

Add watch_tags action
  assets/javascripts/discourse/components/wizard-custom-action.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
  config/locales/client.en.yml
  lib/custom_wizard/action.rb
  lib/custom_wizard/subscription.rb
  spec/components/custom_wizard/action_spec.rb
  spec/fixtures/actions/watch_tags.json
Due: rubocop, i18n-lint

Bump version
  plugin.rb
Due: rubocop

WIP
  app/controllers/custom_wizard/admin/wizard.rb
  app/controllers/custom_wizard/steps.rb
  app/controllers/custom_wizard/wizard.rb
  app/serializers/custom_wizard/wizard_serializer.rb
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/routes/custom-wizard-index.js.es6
  assets/javascripts/discourse/routes/custom-wizard-step.js.es6
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
  assets/javascripts/discourse/templates/components/wizard-custom-action.hbs
  config/locales/client.en.yml
  lib/custom_wizard/action.rb
  lib/custom_wizard/builder.rb
  lib/custom_wizard/mapper.rb
  lib/custom_wizard/subscription.rb
  lib/custom_wizard/validators/template.rb
  lib/custom_wizard/wizard.rb
  spec/requests/custom_wizard/steps_controller_spec.rb
  spec/requests/custom_wizard/wizard_controller_spec.rb
Due: rubocop, i18n-lint

FIX: Show empty log data when no wizard is selected
  assets/javascripts/discourse/routes/admin-wizards-logs-show.js.es6
Due: none

FIX: Show an empty submission list of no wizard is selected
  assets/javascripts/discourse/routes/admin-wizards-submissions-show.js.es6
Due: none

DEV: Update tests enabled fields
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Unkip test for debugged code
  test/javascripts/acceptance/admin-logs-test.js
  test/javascripts/acceptance/admin-submissions-test.js
Due: prettier, eslint

DEV: Check if all tabs are displayed according to the subscription plan
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsuscribed-test.js
Due: prettier, eslint

DEV: Add api acceptance test
  test/javascripts/acceptance/admin-wizards-api-test.js
Due: prettier, eslint

DEV: Add a new api entry
  test/javascripts/acceptance/admin-wizards-api-test.js
Due: prettier, eslint

First working version
  app/controllers/custom_wizard/steps.rb
  app/controllers/custom_wizard/wizard.rb
  app/controllers/custom_wizard/wizard_client.rb
  app/serializers/custom_wizard/submission_serializer.rb
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  config/locales/server.en.yml
  lib/custom_wizard/action.rb
  lib/custom_wizard/builder.rb
  lib/custom_wizard/mapper.rb
  lib/custom_wizard/step_updater.rb
  lib/custom_wizard/submission.rb
  lib/custom_wizard/subscription.rb
  lib/custom_wizard/template.rb
  lib/custom_wizard/user_history.rb
  lib/custom_wizard/validators/template.rb
  lib/custom_wizard/wizard.rb
  plugin.rb
  spec/components/custom_wizard/action_spec.rb
  spec/components/custom_wizard/builder_spec.rb
  spec/components/custom_wizard/submission_spec.rb
  spec/components/custom_wizard/wizard_spec.rb
  spec/requests/custom_wizard/steps_controller_spec.rb
Due: rubocop, i18n-lint

Fix category selector overflow on mobile
  assets/stylesheets/common/wizard/mobile.scss
Due: prettier-scss

Fix minor typo
  assets/stylesheets/common/wizard/mobile.scss
Due: prettier-scss

Take Two
  assets/stylesheets/common/wizard/mobile.scss
Due: prettier-scss

Fix tests and linting
  assets/javascripts/discourse/components/wizard-subscription-selector.js.es6
  assets/javascripts/discourse/lib/wizard-schema.js.es6
  assets/javascripts/discourse/routes/custom-wizard-index.js.es6
  assets/javascripts/discourse/routes/custom-wizard-step.js.es6
  lib/custom_wizard/subscription.rb
  spec/requests/custom_wizard/steps_controller_spec.rb
  test/javascripts/acceptance/wizard-test.js
  test/javascripts/helpers/wizard.js
Due: rubocop, prettier, eslint
