Repository paviliondev/discourse-custom-wizard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn prettier --list-different **/*.js
    prettier-scss:
      run: yarn prettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Bump version
  plugin.rb
Due: rubocop

Fix linting
  assets/javascripts/discourse/components/custom-user-selector.js
  assets/javascripts/discourse/components/wizard-mapper-selector.js
Due: prettier, eslint

Update extensions
  test/javascripts/fixtures/categories.js
  test/javascripts/fixtures/groups.js
  test/javascripts/fixtures/site-settings.js
  test/javascripts/fixtures/tags.js
  test/javascripts/fixtures/update.js
  test/javascripts/fixtures/user.js
  test/javascripts/fixtures/users.js
  test/javascripts/fixtures/wizard.js
Due: prettier, eslint

Bump subscription client
  plugin.rb
Due: rubocop

Fix qunit tests
  plugin.rb
  test/javascripts/acceptance/admin-wizards-api-test.js
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
Due: rubocop, prettier, eslint

Importing common css components in a plugin breaks css priorities in core
  assets/stylesheets/common/admin.scss
Due: prettier-scss

Update to fontawesome 6
  assets/javascripts/discourse/components/custom-field-input.hbs
  assets/javascripts/discourse/components/custom-field-input.js
  assets/javascripts/discourse/components/custom-wizard-date-time-input.hbs
  assets/javascripts/discourse/components/wizard-links.hbs
  assets/javascripts/discourse/components/wizard-mapper-input.hbs
  assets/javascripts/discourse/components/wizard-mapper-pair.hbs
  assets/javascripts/discourse/components/wizard-message.hbs
  assets/javascripts/discourse/components/wizard-message.js
  assets/javascripts/discourse/components/wizard-subscription-badge.js
  assets/javascripts/discourse/components/wizard-subscription-container.js
  assets/javascripts/discourse/components/wizard-table-field.hbs
  assets/javascripts/discourse/controllers/admin-wizards-api-show.js
  assets/javascripts/discourse/controllers/admin-wizards-manager.js
  assets/javascripts/discourse/mixins/undo-changes.js
  assets/javascripts/discourse/templates/admin-wizards-api-show.hbs
  assets/javascripts/discourse/templates/admin-wizards-logs-show.hbs
  assets/javascripts/discourse/templates/admin-wizards-manager.hbs
  assets/javascripts/discourse/templates/admin-wizards-submissions-show.hbs
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
Due: prettier, eslint

Update to modularised composer
  assets/javascripts/discourse/components/custom-wizard-composer-editor.hbs
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js
  assets/javascripts/discourse/components/custom-wizard-field-composer.js
Due: prettier, eslint

Apply linting and version bump
  assets/javascripts/discourse/components/custom-wizard-field-composer.js
  plugin.rb
Due: rubocop, prettier, eslint

Remove deprecated icons
  plugin.rb
Due: rubocop

Update more icons
  assets/javascripts/discourse/components/wizard-table-field.hbs
  plugin.rb
Due: rubocop

FIX: incorrect property reference
  assets/javascripts/discourse/components/custom-wizard-composer-editor.hbs
  plugin.rb
Due: rubocop

FIX: ensure null fields are displayed in submission admin
  assets/javascripts/discourse/controllers/admin-wizards-submissions-show.js
  plugin.rb
Due: rubocop, prettier, eslint

DEV: subscription management improvements
  config/settings.yml
  lib/custom_wizard/subscription.rb
  plugin.rb
  spec/components/custom_wizard/subscription_spec.rb
Due: rubocop

DEV: Remove Handlebars dependency
  assets/javascripts/discourse/components/custom-user-selector.js
  assets/javascripts/discourse/helpers/wizard-char-counter.js
Due: prettier, eslint

DEV: Convert connector to a Glimmer component
  assets/javascripts/discourse/components/custom-wizard-category-settings.hbs
  assets/javascripts/discourse/components/custom-wizard-category-settings.js
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.hbs
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.js
Due: prettier, eslint

DEV: Update modifyClass clickCreateTopicButton
  assets/javascripts/discourse/initializers/custom-wizard-edits.js
Due: prettier, eslint

bump version
  plugin.rb
Due: rubocop

fix linting
  assets/javascripts/discourse/components/custom-wizard-category-settings.hbs
  assets/javascripts/discourse/connectors/category-custom-settings/custom-wizard-category-settings.hbs
  assets/javascripts/discourse/initializers/custom-wizard-edits.js
Due: prettier, eslint

fix linting
  assets/javascripts/discourse/components/custom-wizard-category-settings.js
Due: prettier, eslint

DEV: use lib path for scroll-top util function
  assets/javascripts/discourse/routes/custom-wizard-step.js
Due: prettier, eslint

update discourse-compat
  .discourse-compatibility
Due: none

FIX: Update moment.js load path
  lib/custom_wizard/validators/update.rb
  plugin.rb
Due: rubocop

Add featured_link to topic attrs saved by topic field
  assets/javascripts/discourse/components/custom-wizard-topic-selector.js
  plugin.rb
Due: rubocop, prettier, eslint

FIX: handle data arrays in wizard field interpolation
  lib/custom_wizard/mapper.rb
  plugin.rb
Due: rubocop

COMPATIBILITY: Update TagChooser support.
  assets/javascripts/discourse/components/custom-wizard-tag-chooser.js
Due: prettier, eslint

Remove broken extra locales functionality
  lib/custom_wizard/extensions/extra_locales_controller.rb
  plugin.rb
  spec/extensions/extra_locales_controller_spec.rb
Due: rubocop

Remove subscription restrictions #1
  assets/javascripts/discourse/components/wizard-custom-field.hbs
  assets/javascripts/discourse/components/wizard-custom-step.hbs
  assets/javascripts/discourse/components/wizard-subscription-container.hbs
  assets/javascripts/discourse/components/wizard-subscription-container.js
  assets/javascripts/discourse/components/wizard-subscription-selector.js
  assets/javascripts/discourse/templates/admin-wizards-wizard-show.hbs
  assets/javascripts/discourse/templates/admin-wizards.hbs
  assets/stylesheets/common/admin.scss
  lib/custom_wizard/mapper.rb
  lib/custom_wizard/subscription.rb
  plugin.rb
  spec/components/custom_wizard/action_spec.rb
  spec/components/custom_wizard/builder_spec.rb
  spec/components/custom_wizard/custom_field_spec.rb
  spec/components/custom_wizard/mapper_spec.rb
  spec/components/custom_wizard/subscription_spec.rb
  spec/components/custom_wizard/template_spec.rb
  spec/components/custom_wizard/template_validator_spec.rb
  spec/components/custom_wizard/update_validator_spec.rb
  spec/components/custom_wizard/wizard_spec.rb
  spec/fixtures/subscription_client.rb
  spec/requests/custom_wizard/admin/api_controller_spec.rb
  spec/requests/custom_wizard/admin/subscription_controller_spec.rb
  test/javascripts/acceptance/admin-wizards-business-subscription-test.js
  test/javascripts/acceptance/admin-wizards-standard-subscription-test.js
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
Due: rubocop, prettier, prettier-scss, eslint

Do not pass :for_input to super if it was used for tag groups
  lib/custom_wizard/extensions/discourse_tagging.rb
Due: rubocop

Fix for useless refactor in core 8445eec
  assets/javascripts/discourse/components/custom-wizard-composer-editor.js
  plugin.rb
  test/javascripts/acceptance/admin-wizards-unsubscribed-test.js
  test/javascripts/acceptance/field-test.js
Due: rubocop, prettier, eslint

DEV: refactor custom-user-selector to use DMultiSelect
  assets/javascripts/discourse/components/custom-user-selector.gjs
  assets/javascripts/discourse/components/custom-user-selector.js
  assets/javascripts/discourse/components/custom-wizard-field-user-selector.hbs
  assets/javascripts/discourse/components/custom-wizard-field-user-selector.js
  assets/stylesheets/common/wizard/autocomplete.scss
  plugin.rb
  test/javascripts/acceptance/field-test.js
Due: rubocop, prettier, prettier-scss, eslint

New translations client.en.yml (Portuguese)
  config/locales/client.pt.yml
Due: none

New translations server.en.yml (Portuguese)
  config/locales/server.pt.yml
Due: none

New translations client.en.yml (Chinese Simplified)
  config/locales/client.zh.yml
Due: none

New translations server.en.yml (Chinese Simplified)
  config/locales/server.zh.yml
Due: none

New translations client.en.yml (Chinese Traditional)
  config/locales/client.zh.yml
Due: none

New translations server.en.yml (Chinese Traditional)
  config/locales/server.zh.yml
Due: none
